@media screen and (max-width:700px){

    header .container{
        display: flex;
        flex-direction: column;
    }
    .descritor{
        width: 80%;
        text-align: justify;
    }

}

@media screen and (max-width:500px){
    .botao{
        margin-top: 10px;
        width: 120px;
        height: 70px;
    }
    .descritor{
        width: 100%;
        text-align: justify;
    }
}